.instructions {
  background-color: light grey;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-style: italic;
}

#crystalscore {
  background-color: lightyellow;
  border: 2px solid black;
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 40px;
}

#crystals {
  border: 1px solid black;
  height: auto;
  width: 100%;
}

.crystals {
  border: 5px solid black;
}

img {
  border: 5px solid black;
}

img:hover {
  opacity: 0.5;
  /* ?what happens when you hove here */
}
#yourscore {
  background-color: lightyellow;
  border: 2px solid black;
  width: 100%;
  height: auto;
  padding: 20px;
}

#wins-losses {
  background-color: lightgreen;
  border: 2px solid black;
  width: 100%;
  height: auto;
  padding: 5px;
  font-style: italic;
}

#wins {
  background-color: purple;
  width: 100%;
  height: auto;
  padding: 5px;
  font-style: italic;
}

#losses {
  background-color: coral;
  width: 100%;
  height: auto;
  padding: 5px;
  font-style: italic;
}
